<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="adminlogin.css">
    <head>
        <title>Admin</title>
        <script src="https://kit.fontawesome.com/514d3b3817.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css">
    </head>
    <body style="background-image: linear-gradient(to right, gray , white); background-color: gray;">
        <form class="fr">
            <section style="background: white;">
                <h1>ADMIN</h1>
                <br>
                <br>
                <label for="UsernameID"></label>
                <input class="in"
                type="text"
                name="Username"
                id="UsernameID"
                placeholder="&#xf007; Enter your Username"
                required>
                <label for="PasswordID"></label>
                <input class="in"
                type="password"
                name="Password"
                id="PassowrdID"
                placeholder="&#xf084; Enter your Password"
                required>       
                <br>
                <br>             
                <input class="su" type="Submit" value="Login"/>
                <br>
                <br>
            </section>
        </form>
    </body>
</html>